div .header {
  flex: 0 150px;
  padding-top: 50px;
	font-size: 20px;
	text-align: center;
  background-color: rgb(238, 227, 180);
}
h1 {
  font-size: 76px;
  padding: 2rem;
  font-family: 'Kaushan Script', cursive;
}

img {
  display: inline-flex;
  width: 600px;
  height: 350px;
  max-width: 600px;
  padding: 5px;
  border: 3px solid rgb(112, 23, 24);
  
}
@media (max-width: 500px) {
  body {
    background-image: url(body.png);
  }
  
  @media only screen and (max-width: 660px) {
    html {
      font-size: 14px;
    }
  

body {
  display: flexbox;
  margin: 8px;
  display: lex;
  text-align: center;
  border: 3px solid rgb(16, 16, 17);
  background: -webkit-linear-gradient(bottom, rgb(205, 137, 78), rgba(199, 175, 150, 0.4));
  background-image: flex-box;
  background: url(https://i.imgur.com/BKiv6jo.png?1)
  background-repeat: no-repeat;
  background-size: cover; */
}
